@media(min-width: 769px) {
   @import url("color.css");


   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

   body {
      font-family: Oregano !important;
      font-size: 10px;
      background-color: rgb(250, 243, 250) !important;
      overflow: auto;
   }

   .clearfix::after {
      content: "";
      display: block;
      clear: both;
   }

   .navig {
      z-index: 200;
      position: fixed;
      width: 100vw;
      background-color: var(--nav_border_color);
      padding-left: 3vw;
      margin: 0 auto;
      border-bottom: #aa6483 solid 2px;
   }

   .navig ul {
      max-width: 1280px;
   }

   .navig li {
      float: left;
      list-style: none;
      border-right: #aa6483 solid 2px;
   }

   .navig a {
      display: block;
      text-decoration: none;
      color: var(--first_bg_color);
      line-height: 7vh;
      padding: 0 15px;
      font-size: 16px;
      letter-spacing: 2px;
      box-sizing: border-box;
   }

   .navig a:hover {
      color: var(--first_bg_color);
      text-decoration: none;
   }

   .navig li:hover {
      background-color: rgba(0, 0, 0, 0.2);
      transition: 0.3s;
   }

   .navig li:nth-of-type(1),
   .navig li:nth-of-type(7) {
      border-right: none;
   }

   .navig li:nth-of-type(1) {
      margin-right: 5vw;
   }

   section {
      padding-top: 5vh;
      padding-bottom: 5vh;
      color: var(--second_color);
   }

   #timeline-section,
   #wedding,
   #gallery {
      background-color: var(--first_bg_color);
      box-shadow: 1px 1px 1em var(--shadow_color)
   }

   .generalWedding {
      float: left;
      width: 60%;
      padding-top: 2vh;
   }

   .generalWedding>div {
      padding-top: 0;
   }

   .detailsWedding {
      float: right;
      width: 40%;
   }

   #wedding>.detailsWedding {
      padding: 3vh 5vw 0 0;
   }

   #wedding {
      padding-top: 42px;
   }

   iframe {
      width: 45vw;
      height: 40vh;
      align-content: center;
      border: 0;
      margin-bottom: 5vh;
   }

   #welcome {
      width: 100%;
      box-shadow: 1px 1px 1em 1px var(--shadow_color);
   }

   .welcomeImg {
      height: 70vh;
      max-width: 100vw;
      background-image: url("./img/img_309.JPG");
      background-size: cover;
      background-position: 80% center;
   }

   .imgDarkening {
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      padding: 0;
   }

   .welcomeLogo {
      position: absolute;
      display: block;
      right: 5vw;
      bottom: 5vh;
      max-height: 30%;
      max-width: 50%;
   }

   /* HAMBURGER */
   .menu_ico {
      display: none;
      z-index: 1;
      position: fixed;
      right: 7vh;
      top: 3vh;
      cursor: pointer;
      color: white;
   }

   #desktop {
      display: initial;
   }

   #mobile {
      display: none;
   }

   .fa-bars {
      font-size: 5vh;
   }

   #timeline-section {
      display: inline-block;
      width: 30%;
      box-sizing: border-box;
      margin-left: 5vw;
      padding-top: 10vh;
      padding-bottom: 10vh;
   }

   #timeline-section>div {
      margin: auto;
      width: 60%;
   }

   #ceremony,
   #timeline_wishes {
      float: left;
   }

   .church,
   .letters,
   .glasses,
   .dinner,
   .cake,
   .party {
      height: 70%;
      width: 70%;
   }

   .church,
   .cake {
      margin-top: 10%;
   }

   .letters {
      margin-top: 20%;
   }

   .dinner,
   .glasses {
      margin-top: 15%;
   }

   .glasses {
      margin-left: 5%;
   }

   .party {
      margin-top: 15%;
   }

   #ceremony {
      display: inline-block;
      width: 60%;
      position: relative;
      padding: 42px 0 0 0;
   }

   #food_drinks {
      margin-top: 3vh;
      box-sizing: border-box;
      padding-top: 0;
      padding-bottom: 0;
   }

   #menu,
   #drinks {
      padding-top: 42px;
   }

   #menu {
      float: left;
      width: 50%;
   }

   #drinks {
      float: right;
      width: 50%;
   }

   #menu,
   #gallery {
      position: relative;
   }

   #gallery {
      padding-top: 42px;
   }

   #menu ul {
      list-style: none;
      padding-left: 0;
   }

   #menu li::before {
      content: '\2022';
      margin-right: 8px;
      color: var(--second_color);
      font-size: 18px;
   }

   .icon {
      font-size: 20px;
   }

   .bold {
      font-weight: 600;
   }

   .title {
      text-align: center;
   }

   .content {
      padding: 3vh 5vw 0 5vw;
      font-family: 'Poppins';
   }

   .parkingImg {
      margin-bottom: 2vh;
      width: 50vw;
   }

   .logoPHD {
      width: 100%;
      display: inline-block;
      text-align: center;
   }

   .logoPHD>a>img {
      max-width: 20vh;
      margin: 0 auto 3vh;
   }

   #wishes {
      display: inline-block;
      width: 30%;
      box-sizing: border-box;
      margin-left: 5vw;
   }

   #wishes>div>.content {
      text-align: center;
      padding: 0 0;
   }

   #contact {
      float: left;
      box-sizing: border-box;
      position: relative;
      width: 30%;
      box-shadow: 1px 1px 1em var(--shadow_color);
      background-color: white;
      margin: 10vh 0 3vh 5vw;
      padding-top: 42px;
   }

   #contact>.content {
      padding: 3vh 5% 0 5%;
   }

   #contact>img {
      width: 40%;
      bottom: 0;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      right: 0;
      position: absolute;
   }

   .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
   }

   .overlay-content {
      position: relative;
      top: 10%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
   }

   .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
   }

   .overlay a:hover,
   .overlay a:focus {
      color: #f1f1f1;
   }

   .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
   }

   .drinkRecipt {
      margin-top: -10px;
      margin-bottom: 10px;
      font-family: 'Oregano', sans-serif;
      letter-spacing: 1px;
   }

   .right {
      text-align: right;
      padding: 0;
   }

   .closebtn {
      margin-top: -5vh;
      margin-right: -8vw;
   }

   .adnotation {
      font-size: 14px;
      margin-top: 12px;
   }

   #thanks>div {
      max-width: 80vw;
      background-color: var(--first_bg_color);
      box-shadow: 1px 1px 1em var(--shadow_color);
      padding-top: 2vh;
      padding-bottom: 2vh;
      margin: 0 auto;
   }


   .text-muted {
      font-family: 'Poppins';
      font-weight: 300;
      font-style: italic;
      letter-spacing: 1px;
   }

   .dishes {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 20px;
   }

   .persons,
   .numbers {
      display: inline-block;
      padding: 1vh 0;
   }

   .persons {
      font-weight: 600;
      width: 55%;
      font-size: 14px;
   }

   .numbers {
      text-align: right;
      width: 40%;
      font-size: 14px;

   }

   .numbers>a:link {
      color: var(--second_color);
   }

   .phoneInfo {
      font-family: 'Poppins';
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 14px;
   }

   h1 {
      font-family: 'Oregano', sans-serif;
      color: #8A4463;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-shadow: 2px 4px #F0E2DD;
   }
}