* {
    margin: 0;
    padding: 0;
    font-family: Oregano, tahoma, sans-serif;
    font-size: 10px;
}
body {
    background-color: rgba(0,0,0,0.4) ;
}

.tlo {
    position: relative;
    background-image: url(./img/2.JPG);
    background-size: cover;
    background-position:center;
    height: 100vh;
    width: 100vw;
    opacity: 70%;
}

.info {
    display: block;
    box-sizing: border-box;
    position: absolute;
    color: #AB5F63;
    bottom: 15vh;
    right: 0;
    line-height: 7vh;
    padding: 5vh 3vh 5vh 3vh;
    text-align: center;
    width: 100vw;
    font-size: 5vh;
    background-color: rgb(237, 220, 212, 0.8);
    text-transform: uppercase;
}

