@media(max-width: 768px) {
    @import url("color.css");


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Oregano !important;
        font-size: 10px;
        background-color: var(--second_bg_color) !important;
        overflow: auto;

    }

    section {
        padding-top: 5vh;
        padding-bottom: 5vh;
        color: var(--second_color);
    }

    .navig {
        display: none;
    }

    .menu_ico {
        display: initial;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: initial;
    }

    #ceremonyMobile,
    #menuMobile,
    #contactMobile {
        background-color: var(--second_bg_color);

    }

    #timeline-sectionMobile,
    #weddingMobile,
    #drinksMobile,
    #gallery {
        background-color: var(--first_bg_color);
        box-shadow: 1px 1px 1em var(--shadow_color)
    }

    #drinksMobile {
        margin: 3vh 0;
    }

    #weddingMobile {
        margin-bottom: 3vh;
    }

    iframe {
        width: 100vw;
        height: 40vh;
        align-content: center;
    }

    #welcomeMobile {
        box-shadow: 1px 1px 1em black;
    }

    .welcomeImg {
        height: 70vh;
        width: 100vw;
        background-image: url("./img/img_309.JPG");
        background-size: cover;
        background-position: 80% center;
    }

    .imgDarkening {
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        padding: 20vh 0;
    }

    .welcomeLogo {
        position: absolute;
        display: block;
        right: 5vw;
        bottom: 5vh;
        max-height: 30%;
        max-width: 50%;
    }

    /* HAMBURGER */
    .menu_ico {
        z-index: 1;
        position: fixed;
        right: 3vh;
        top: 3vh;
        cursor: pointer;
        color: white;
    }

    .fa-bars {
        font-size: 5vh;
    }

    #timeline-sectionMobile {
        width: 100%;
        box-sizing: border-box;
    }

    #timeline-sectionMobile>div {
        margin: auto;
        width: 60%;
    }

    .church,
    .letters,
    .glasses,
    .dinner,
    .cake,
    .party {
        height: 70%;
        width: 70%;
    }

    .church,
    .cake {
        margin-top: 10%;
    }

    .letters {
        margin-top: 20%;
    }

    .dinner,
    .glasses {
        margin-top: 15%;
    }

    .glasses {
        margin-left: 5%;
    }

    .party {
        margin-top: 15%;
    }

    #ceremonyMobile {
        width: 100vw;
        position: relative;
        margin: 3vh 0;
    }

    #menuMobile,
    #gallery {
        position: relative;
    }

    #menuMobile ul {
        list-style: none;
        padding-left: 0;
    }

    #menuMobile li::before {
        content: '\2022';
        margin-right: 8px;
        color: var(--second_color);
        font-size: 18px;
    }

    .icon {
        font-size: 20px;
    }

    .bold {
        font-weight: 600;
    }

    .title {
        text-align: center;
    }

    .content {
        padding: 3vh 10vw 0 10vw;
        font-family: 'Poppins';
    }

    iframe {
        margin-left: -10vw;
        margin-bottom: 5vw;
    }

    .parkingImg {
        margin-left: -10vw;
        margin-bottom: 5vh;
        width: 100vw;
    }

    .logoPHD {
        text-align: center;
        margin-bottom: 10px;
    }

    .logoPHD>img {
        width: 40vw;
    }

    #contactMobile {
        position: relative;
    }

    #contactMobile>.content {
        width: 100%;
    }

    #contactMobile>img {
        width: 40vw;
        bottom: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        right: 0;
        position: absolute;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .drinkRecipt {
        margin-top: -10px;
        margin-bottom: 10px;
        font-family: 'Oregano', sans-serif;
        letter-spacing: 1px;
    }

    .right {
        text-align: right;
        padding: 2vh 0;
    }

    .closebtn {
        margin-top: -5vh;
        margin-right: -8vw;
    }

    .adnotation {
        font-size: 14px;
        margin-top: 12px;
    }

    .thanks>div {
        width: 80vw;
    }

    .text-muted {
        font-family: 'Poppins';
        font-weight: 300;
        font-style: italic;
        letter-spacing: 1px;
    }

    .dishes {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    .persons,
    .numbers {
        display: inline-block;
        padding: 1vh 0;
    }

    .persons {
        font-weight: 600;
        width: 55%;
        font-size: 14px;
    }

    .numbers {
        text-align: right;
        width: 40%;
        font-size: 14px;

    }

    .numbers>a:link {
        color: var(--second_color);
    }

    .phoneInfo {
        font-family: 'Poppins';
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 14px;
    }

    h4 {
        font-family: 'Oregano', sans-serif;
    }

    h1 {
        font-family: 'Oregano', sans-serif;
        color: #8A4463;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-shadow: 2px 4px #F0E2DD;

    }

}